.symbolScreen {
    height: 100%;
    width: 100%;
    float: left;
    border: 1px solid #d9d9d98c;

    .leftPanel {
        width: 25%;
        height: 100%;
        float: left;
        border-right: 1px solid #eaeaea;

        .symbolSelectionContainer {
            width: 100%;
            height: 70%;
            top: 10%;
            position: relative;

            .dropDownsContainer {
                height: 100%;
                width: 100%;
                padding: 0 15px;

                .symbolDropdown{
                    height: 40%;
                }
            }
        }
    }

    .rightPanel {
        width: 75%;
        height: 100%;
        float: left;
        position: relative;
    }
}