.listViewContainer {
    height: 100%;
    padding: 20px;
    width: 100%;
    overflow: auto;

    .listNodeWrapper {
        height: auto;
        width: 100%;

        .listNodeLabel {

            &.listNodeHeader{
                font-weight: 300;
                opacity: .8;
                height: 30px;
                padding-left: 5px;
                line-height: 30px;
                font-size: small;
            }
        }

        .listNodeDesc {
            max-height: 50px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            padding-left: 5px;
        }
    }
}